<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cheers from Jungle, <%= @user.name %></h1>
    <p>
      Yer order shipped!! We're serious this time!
      <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for forking over that valid currency and have a great day!</p>
  </body>
</html>