<tr>
  <td>
    <h4><%= category.name %></h4>
    <br>
<!--     <p><%= category.description %></p> -->
  </td>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, product], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>