// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "reviews";

// Global
body {
  padding-top: 70px;
  font-family: "Montserrat", Arial, serif;
}

.page-header {
  text-align: center;
  font-weight: bold;
}

.navbar-brand {

}
