.reviews {
  text-align: center;
}

.reviews-title {
  font-weight: bold;
}

#review_rating {
  appearance: none;
}

#review_description {
  width: 15em;
  height: 3em;
}

form input {
  border-radius: 0.5em;
  margin: 0.5em;
}

form select {
  margin: 0.5em;
}